placeholder(color = #000000) {
    &::-webkit-input-placeholder {
        color: color;
    }
    &:-moz-placeholder {
        color: color;
    }
    &::-moz-placeholder {
        color: color;
    }
    &:-ms-input-placeholder {
        color: color;
    }
}

vertical-align(align = top) {
    display: inline-block;
    vertical-align: align;
}