/* --------- colors --------- */

$orange = #ff8f17;

/* --------- adjustment --------- */

$container-width = 1000px;
$footer-height = 240px;
$body-font = 'helveticaneuecyrroman';

@import 'adjustments/fonts.styl'
@import 'adjustments/mixin.styl'
@import 'adjustments/adjustments.styl'
