footer.footer
    .footer__top
        .container
            .footer__info
                a(href="/").footer__info-logo
                    img(src='img/logo_footer.png', alt='ModusVersus logo').footer__info-logo-pic
                    .footer__info-logo-text ModusVersus
                .footer__info-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .
                .footer__contacts
                    ul.footer__contacts-list
                        li.footer__contacts-item
                            .footer__contacts-title Phone:
                            a(href='tel:182 2569 5896').footer__contacts-link 182 2569 5896
                        li.footer__contacts-item
                            .footer__contacts-title e-mail:
                            a(href='mailto:info@modu.versus').footer__contacts-link info@modu.versus
            .footer__nav
                ul.footer__nav-list
                    li.footer__nav-item
                        .footer__nav-title Company
                        ul.footer__nav-list
                            each link in ['About', 'FAQ', 'Contact', 'Terms', 'Privacy', 'Testimonials']
                                li.footer__nav-menu
                                    a(href="#").footer__nav-link= link
                    li.footer__nav-item
                        .footer__nav-title Community
                        ul.footer__nav-list
                            each link in ['Blog', 'Forum', 'Support', 'Newsletter']
                                li.footer__nav-menu
                                    a(href="#").footer__nav-link= link
            .footer__blog
                .footer__blog-title from the
                    span.footer__blog-title-blog BLOG
                ul.footer__blog-list
                    li.footer__blog-item
                        .footer__blog-pic
                            img(src='img/Rectangle.png', alt='').footer__blog-img
                        .footer__blog-article
                            .footer__blog-about
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            .footer__blog-datetime 26 May, 2013
                    li.footer__blog-item
                        .footer__blog-pic
                            img(src='img/Rectangle.png', alt='').footer__blog-img
                        .footer__blog-article
                            .footer__blog-about
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            .footer__blog-datetime 26 May, 2013
    .footer__bottom
        .container
            .footer__bottom-text 2013 ModusVersus
            .footer__bottom-socials
                ul.footer__bottom-socials-list
                    each val, key in items={'fb': 'facebook.com', 'gp': 'plus.google.com','tw':'twitter.com', 'rss': 'modusversus.com'}
                        li.footer__bottom-socials-item
                            a(href="#" target='_blank' class='footer__bottom-socials-link footer__bottom-socials-link_' + key)= val
<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/bxslider-4/dist/jquery.bxslider.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
script(src='/js/main.js')
<!-- endbuild -->