.modus-versus {
    background: $background-color url(../img/Path.png) top center repeat-x;
    padding-top: 59px;
    margin-bottom: 208px;

    &.container {
        position: relative;
    }
}
    .modus-versus__title {
        color:  #e1524b;
        open-sans(semibold);
        font-size: 40px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: -4px;
    }
    .modus-versus__text {
        open-sans();
        color: $text;
        text-align: center;
        line-height: 20px;
        margin-bottom: 270px;
    }
    .modus-versus__image_center {
        width: 570px;
        height: 360px;
        background: #BFC5C6;
        border-radius: 10px;
        padding: 10px 5px 4px;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto -155px auto;
    }
        .topbar {
            clearfix();
        }
            .topbar__list {
                margin: 2px 0 13px 8px;
                padding: 0;
                min-width: 53px;
                float: left;
            }
                .dot__item {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background: $background-color;
                    vertical-align(middle);
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            .topbar__oval {
                float: right;
                margin-right: 10px;
                margin-top: 10px;
            }
                .oval {
                    width: 12px;
                    height: 6px;
                    border-radius: 3px;
                    background: $background-color;
                }
        .image-center {
            border-radius: 6px;
            border: 0 none;
            overflow: hidden;
            max-width: 560px;
            max-height: 315px;

            &.image-center_pic {
                display: block;
                width: 100%;
            }
        }
    .modus-versus__image_right {
        width: 370px;
        height: 259px;
        background: #BFC5C6;
        border-radius: 10px;
        padding: 19px 5px 4px;
        position: absolute;
        bottom: 0;
        left: 800px;
        margin: auto auto -113.5px auto;
    }
    .modus-versus__image_left {
        @extend .modus-versus__image_right;
        left: 0;
        padding-top: 11px;
    }
    .dot__list {
        margin:  0 0 13px 6px;
        padding: 0;
        min-width: 53px;
    }
    .right__image-right-oval {
        margin-left: 335px;
        margin-bottom: 17px;
    }
        .image {
            @extend .image-center;
            max-width: 360px;
            max-height: 214px;

            &.image__pic {
                display: block;
                width: 100%;
            }
        }
