.top__services .container {
    border-radius: 5px;
    background-color:  $background-color;
    padding: 23px 35px 24px 26px;
    clearfix();
    margin-bottom: 50px;
}
    .title {
        margin-bottom: 2px;
        float: left;
        width: 76.75%;
    }
        .title__text {
            open-sans(semibold);
            margin: 0;
            color:  #7f8c8c;
            font-size: 30px;
            line-height: 36px;
        }
    .text {
        open-sans();
        color: $text;
    }
    .button__view {
        float: right;
        width: 18.04%;
    }
        .button__view-link {
            display: block;
            background-color: lighten($red, 20%);
            box-shadow(0, 7px, 5px, -3px, $red);
            padding: 12px 44px;
            color: #fff;
            border-radius: 5px;
            open-sans(semibold);
            font-size: 20px;
            text-transform: uppercase;

            &:active {
                box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
                transform: translateY(3px);
            }
        }