.clients .container .bx-wrapper {
    background: #f3f3f3;
}

    .clients .container .bx-wrapper .bx-next {
        right: 0px;
        top: -52px;
        background: url('../img/small_slider/controls/controls.png') no-repeat -340px -340px;
        &:hover, &:focus {
            background-position: -340px -100px;
        }
    }

    .clients .container .bx-wrapper .bx-prev {
        left: 1071px;
        top: -52px;
        background: url('../img/small_slider/controls/controls.png') no-repeat -100px -340px;

        &:hover, &:focus {
            background-position: -100px -100px;
        }
    }
        .clients .container .bx-wrapper .bx-controls-direction a {
            width: 40px;
            height: 40px;
        }
            .clients__slider-pic {
                border-radius: 5px;
            }